
<div class="class">

	<div class="class_header">
		<span class="class_information">
			<h1>Welcome to {{title}}</h1>
			<h3>{{description}}</h3>
		</span>
		<span><button class="class_options">options</button></span>
	<div class="class_header">

	<div class="class_body">
		{{#each post}}
			{{>post}}
		{{/each}}
	<div class="class_body">

</div>