<div class="class">

	<div class="class_header">
		<span class="class_information">
			<span class="class_title">Welcome to {{title}}</span>
			<span class="class_description">{{description}}</span>
			<span><button class="class_options">options</button></span>
		</span
	<div class="class_header">

	<div class="class_body">
	<form class="new_post">
		Create a post: <input type="text"><input type="submit" value = "Post"> <input type="submit" value="Attach">
	</form>
		{{#each post}}
			{{> render_post this}}
		{{/each}}
	<div class="class_body">

</div>