<!DOCTYPE html>
<html>
  <head>
    <title>Handlebars testing</title>
    <link rel='stylesheet' href='../public/stylesheets/style.css'/>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.runtime.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="templates.js"></script>
	<script src="hbtest.js"></script>

  </head>
  <body>
    <div id="hb">
    </div>
    <p> Testing </p>
  </body>
</html>