<!-- Lead author: Joanna -->
<h1> 
Welcome to cloop! 
</h1>

<p>cloop is a platform that allows MIT students taking similar classes to interact with one another in a collaborative environment.
Each semester, cloop displays a list of current MIT classes being offered that students can join. Each class has its own page, and students are able to post 
text, pdf files, or comments to the page. Each class page also includes all the students currently taking the class, should they so 
choose to add themselves to the class. 
 </p>

<br/><br/><br/>

<p>If you do not have an account yet, register for an account using your @mit.edu email in the top right. You should receive a confirmation email shortly after.</p>
<p> If you have an account already, please login below. </p>

<br/>
<h1 class="page-header">Login</h1>
<form method="post" action="/users/login">
	<div class="form-group">
		<input type="text" class="form-control" name="username" placeholder="Username">
	</div>
	<div class="form-group">
		<input type="password" class="form-control" name="password" placeholder="Password">
	</div>
	<button type="submit" class="btn btn-default">Submit</button>
</form>

<br/><br/>

