<!-- Lead author: Joanna -->
<h2> 
Welcome.
</h2>

<p>
cloop is a platform where MIT students can casually connect and collaborate with classmates. <br>
Each semester, cloop automatically creates a forum for each class in the course catalog, which students can join instantly to engage in discussion, find their classmates, and share relevant knowledge or materials. <br>
 </p>

<br/><br/>

<p>If you are new to cloop, register with your MIT email at the top right. You will receive a confirmation code to verify your email after your next login.</p>
<p> If you have an account already, please log in below. </p>

<br/>
<h2 class="page-header">Login</h2>
<form method="post" action="/users/login">
	<div class="form-group">
		<input type="text" class="form-control" name="username" placeholder="Username">
	</div>
	<div class="form-group">
		<input type="password" class="form-control" name="password" placeholder="Password">
	</div>
	<button type="submit" class="btn btn-default">Submit</button>
</form>

<br/><br/>

