/*Lead author: Ming*/
@import url('https://fonts.googleapis.com/css?family=Reem+Kufi');
@import url('https://fonts.googleapis.com/css?family=Lato');
/* color variables */
:root {
	--background-color: white;
	--text-color: black;
	--post-backg: #d5dbe5;
	--post-border: #a5acb7;
	--input-backg: white;
	--btn-hover: #e6e6e6;
}

body {
  padding: 0px 0px 10px 20px;

  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Lato', sans-serif;
  font: 15px;
}

html {
    position: relative;
    min-height: 100%;
}

footer {
    position: absolute;
    left: 5px;
    bottom: 0;
    height: 20px;
    width: 100%;
    color: #a5acb7;
}

ul {
	list-style: none;
}

h1,
h2 {
	margin-top: 10px;
}

.title > a {
	color: var(--text-color);
}

.title > a:hover {
	color: var(--text-color);
	text-decoration: none;
}

.title {
	font-family: 'Reem Kufi', sans-serif;
	font-size: 50px;
	padding-bottom: 20px;
	border-bottom: 5px solid var(--post-border);
	margin-bottom: 5px;
}	

.page-header {
	border: 0px;
	margin: 0px;
	margin-top: 10px;
}

.form-group {
	width: 50%;
	margin-bottom: 5px;
}

.class_listing {
	display: inline-block;
	margin-right: 5px;
	font-size:20px;
}

#file-load,
#submit-post {
	display: inline-block;
}

input {
	background-color: var(--input-backg);
	border-radius: 3px;
	margin: 2px;
	border: 1px solid var(--post-border);
}

form {
	display: inline;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;

}

/*Formatting for user-page*/
section {
	width: 95%;
	margin: auto;
}

div #one {
	width: 55%;
	float: left;
	height: 300px;
}

div #two {
	margin-left: 45%;
	height: 300px;
}

#classScroll {
	background-color: white;
	border-radius: 5px;
	border: 1px solid var(--post-border);
	margin: 10px;
	width: 150px;
	max-width: 400px;
	max-height: 500px;
	height: 200px;
	overflow: scroll;
	resize: both;
}

/*The button*/
.upv, .flg {
	background-color: var(--background-color);
	border-radius: 5px;
	border:none;
	line-height: 15px;
}

/*The number count*/
.upvotes, .flags {
	font-size: 15px;
	padding: 1px 1px 1px 1px;
}

.sideBtn {
	border-radius: 5px;
	border:none;
	line-height: 15px;
	font-size: 15px;
	padding: 1px 6px 1px 6px;
}

.delBtn {
	background-color: #AA3939;
}

.editBtn {
	background-color: #538CC6;
	margin-top: 1px;
	float: right;
}

/*Class styling*/
.class {
}

.class_title {
	font-size: 30px;
	margin-bottom: 5px;
}

.class_description {
	font-size: 20px;
}

.class_options {
	float:right;
}

#new-post {
	padding: 10px 10px 10px 10px;
	margin-bottom: 10px;
	background-color: var(--post-backg);
	border: 2px solid var(--post-border);
	border-radius: 5px;
}

.post-box {
	width: 100%;
	height: 60px;
	padding-left: 0;
	padding-top: 0;
	border: 2px solid var(--post-border);
	border-radius: 5px;
	padding: 4px;
	resize: none;
}

/*#post-button {

}*/
.comment-box {
	height: 27px;
	width: 50%;
}

/*Post styling*/
.post {
	border: 2px solid var(--post-border);
	border-radius: 5px;
	margin-bottom: 10px;
}

.post_header {
	background-color: var(--post-backg);
	border-bottom: 1px solid var(--post-border);
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	padding: 4px 2px 4px 6px;
}

.post_author {
	font-size: 15px;
}

.post_time {
	font-size: 10px;
	color: var(--text-color);
	opacity: 85%;
}

.post_body {
	padding-top: 10px;
	padding-left: 20px;
	padding-bottom: 10px;

}

.post_footer {
	/* indent */
	margin-left: 10px;
	padding-bottom: 10px;
}

.delete_btn {
	float:right;
}

/*Comment styling*/
.comment {
	border: 1px solid var(--post-border);
	border-radius: 5px;
	margin-bottom: 10px;
	margin-right: 10px;
}
.comment_header {
	background-color: var(--post-backg);
	border-bottom: 1px solid var(--post-border);
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	padding: 4px 2px 4px 6px;
}

.comment_author {
	font-size: 15px;
}

.comment_time {
	font-size: 10px;
	color: var(--text-color);
}

.comment_body {
	padding-top: 10px;
	padding-left: 30px;
	padding-bottom: 1px;
}

.resource_object {
	display: none;
}

.resource_button {
	color: #a5acb7;
}

.resource_button:hover {
	color: #6f7682;
	cursor: pointer;
}

.resource_container {
	border-top: 1px solid var(--post-border);
	width: 98%;
	margin-top: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
}