/*Lead author: Ming*/
@import url('https://fonts.googleapis.com/css?family=Reem+Kufi');

/* color variables */
:root {
	--background-color: white;
	--text-color: black;
	--post-backg: #95a5b2;
	--post-border: #51687c;
	--input-backg: white;
}

body {
  padding: 20px;

  background-color: var(--background-color);
  color: var(--text-color);

  font: 15px;
}

ul {
	list-style: none;
}

.title > a {
	color: var(--text-color);
}

.title > a:hover {
	color: var(--text-color);
	text-decoration: none;
}

.title {
	font-family: 'Reem Kufi', sans-serif;
	font-size: 50px;
}

.page-header {
	border: 0px;
	margin: 0px;
	margin-top: 20px;
}

.form-group {
	width: 50%;
	margin-bottom: 5px;
}

.row {
	padding-top: 1%;
}

input {
	background-color: var(--input-backg);
	border-radius: 3px;
	margin: 2px;
	border: 2px solid var(--post-border);

}

form {
	display: inline;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/*The button*/
.upv {
	background-color: var(--background-color);
	border-radius: 5px;
	border:none;
}

/*The number count*/
.upvotes {
	font-size: 15px;
	padding-right: 4px;
}

/*Class styling*/
.class {
}

.class_title {
	font-size: 30px;
}

.class_description {
	font-size: 20px;
}

.class_options {
	float:right;
}

.new_post {
	padding-top: 10px;
	padding-bottom: 10px;
}

/*Post styling*/
.post {
	border: 2px solid var(--post-border);
	border-radius: 5px;
	margin-bottom: 10px;
}

.post_header {
	background-color: var(--post-backg);
	border-bottom: 2px solid var(--post-border);
	padding: 5px;
	z-index: -1;
}

.post_author {
	font-size: 15px;
}

.post_time {
	font-size: 10px;
	color: var(--text-color);
	opacity: 85%;
}

.post_body {
	padding-left: 20px;
}

.post_footer {
	/* indent */
	margin-left: 10px;
	padding-bottom: 10px;
}

/*Comment styling*/
.comment {
	border: 2px solid var(--post-border);
	border-radius: 5px;
	margin-bottom: 10px;
	margin-right: 10px;
}
.comment_header {
	background-color: var(--post-backg);
	border-bottom: 2px solid var(--post-border);
	padding: 5px;
}

.comment_author {
	font-size: 15px;
}

.comment_time {
	font-size: 10px;
	color: var(--text-color);
}

.comment_body {
	padding-left: 30px;
	padding-bottom: 1px;
	
}


