/*Lead author: Ming*/
@import url('https://fonts.googleapis.com/css?family=Reem+Kufi');

body {
  padding: 10px;
  /*font-family: 'Roboto Condensed', sans-serif;*/

  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.title {
	font-family: 'Reem Kufi', sans-serif;
	font-size: 40px;

}

/*The button*/
.upvote {
	background-image: url(../resources/upvote.png);
	width: 25px;
	height: 25px;
	border-radius:25px;
	border:none;
}

/*The number count*/
.upvotes {
	font-size: 15px;
	padding-right: 4px;
}

/*Class styling*/
.class {
}

.class_title {
	font-size: 30px;
}

.class_description {
	font-size: 20px;
}

.class_options {
	float:right;
}

.new_post {
	padding-top: 10px;
	padding-bottom: 10px;
}

/*Post styling*/
.post {
	/*background-color: #e2e2e2;*/
	/*border-radius: 3px;*/
	outline: 1px solid #c1c1c1;
	/*padding: 10px 10px 10px 10px;*/
	margin-bottom: 10px;
}

.post_header {
	background-color: #c1c1c1;
/*	border-top-right-radius: 3px;
	border-top-left-radius: 3px;*/
	padding: 10px;
}

.post_author {
	font-size: 15px;
}

.post_time {
	font-size: 10px;
	color: #828282;
}

.post_body {
	padding-left: 20px;
}

.post_footer {
	/* indent */
	margin-left: 10px;

	padding-bottom: 10px;
}

/*Comment styling*/
.comment {
	outline: 1px solid #e2e2e2;
/*	border-radius: 3px;*/
	/*outline: black dotted 2px;*/
	/*padding: 10px 10px 10px 10px;*/
	margin-bottom: 10px;
	margin-right: 10px;
}
.comment_header {
	background-color: #e2e2e2;
/*	border-top-right-radius: 3px;
	border-top-left-radius: 3px;*/
	padding: 5px;
}

.comment_author {
	font-size: 15px;
}

.comment_time {
	font-size: 10px;
	color: #828282;
}

.comment_body {
	padding-left: 30px;
	padding-bottom: 1px;
	
}


